!!!
%html
  %head
    %title Kompromis jagielloński
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, maximum-scale = 1, minimum-scale=1', name: 'viewport'}/
    %link{href: 'css/default.css', media: 'all', rel: 'stylesheet', type: 'text/css'}/
    %link{href: 'css/flexslider.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: 'css/fixed-navigation.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: 'http://fonts.googleapis.com/css?family=PT+Sans', rel: 'stylesheet', type: 'text/css'}/
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{src: 'js/jquery.flexslider.js'}
    %script{src: 'js/default.js'}
    %script{src: 'https://maps.google.com/maps/api/js?sensor=false', type: 'text/javascript'}
    %script{type: 'text/x-mathjax-config'}
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    %script{src: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML', type: 'text/javascript'}
    :javascript
      function initialize() {
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
          zoom: 8,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
      }
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="js/respond.min.js"></script>
  %body{onload: 'initialize()'}
    #top
    #pagewidth
      %header#header
        .center
          %nav#mainNav
            %ul
              %li
                %a{href: '#compromise'}
                  %span Kompromis
              %li
                %a{href: '#systems'}
                  %span Systemy głosowania
              %li
                %a{href: '#dictionary'}
                  %span Słownik
              %li
                %a{href: '#articles'}
                  %span Artykuły
              %li
                %a{href: '#literature'}
                  %span Litertura
              %li
                %a{href: 'english.html'}
                  %span English
      #content
        %section.row
          .center
            %h1 Kompromis jagielloński
            %img.transparent{src: 'img/euro-root.png'}
            %article
              %div
                %p
                  witryna Wojciecha Słomczynskiego$^*$  oraz  Karola Życzkowskiego$^{**}$
                .center
                  %p
                    %span.spacer $^*$ Instytut Matematyki UJ
                    $^{**}$ Instytut Fizyki UJ
            %img{src: 'img/alvner.jpg'}
        %section#compromise.row.grey
          .center
            %h1 Kompromis jagielloński
            %strong.subHeading (20-4-2007)
            %strong.subHeading bezstronny system głosowania w Radzie Unii Europejskiej
            .columns
              %article.news.half
                %div
                  %h3
                    %a{href: '#'}
                      Kompromis
                      Jagielloński
                  .content
                    %p
                      Każdy kraj otrzymuje liczbę głosów proporcjonalną do pierwiastka kwadratowego z liczby jego
                      ludności. Decyzja Rady Unii Europejskiej zostaje podjęta, jeżeli sumaryczna waga krajów
                      głosujących za nią przekracza próg wynoszący (dla 27 krajów Unii)
                      %span.bold 61.4%
                      wszystkich głosów
                    %p
                      %a{href: '#dictionary'} Optymalny próg większości kwalifikowanej
                      dobrano tak, aby siła głosu każdego państwa mierzona
                      %a{href: '#dictionary'} wskaźnikiem Penrose’a-Banzhafa
                      była w przybliżeniu równa wadze jego głosu proporcjonalnej do pierwiastka z liczby ludności.
                      Z prawa pierwiastkowego Penrose’a wynika wówczas, że siła głosu każdego obywatela Unii będzie
                      wówczas taka sama. Dla Unii złożonej z $M$ państw, z ludnością odpowiednio $N_1$, $N_2$, $N_M$,
                      próg większości kwalifikowanej wynosi:
                      $$q=\frac{1}{2}\left( 1 + \frac{\sqrt{N_1+\ldots+N_M}}{\sqrt{N_1}+\ldots+\sqrt{N_M}} \right)$$
              %article.news.half
                %div
                  %h3
                    %a{href: '#'}
                      Próg optymalny: wzór przybliżony
                  .content
                    %p
                      Jeżeli dokładna liczba ludności każdego kraju nie jest znana, można stosować wzór przybliżony,
                      w którym wartość progu $q_*$ zależy wyłącznie od liczby $M$ państw członkowskich Unii:
                      $$q_*=\frac{1}{2}+\frac{1}{\sqrt{\pi M}}$$
                    %p
                      Wzór ten jest wyprowadzony przy założeniu że liczba $M$ jest stosunkowo duża, a populacje krajach
                      członkowskich rozłożone są losowo z jednorodną miarą na sympleksie rozkładów prawdopodobieństwa.
                      W praktyce daje dobre przybliżenie dla $M$ nie mniejszego niż 20.
                    %p
                      Przy dalszym rozszerzeniu Unii próg ten powinien stopniowo się zmniejszać, co zapewnia stałą
                      efektywność systemu -
                      %span.bold globalny wskaźnik Colemana
                      określający prawdopodobieństwo utworzenia koalicji wygrywającej wyniesie około 16% niezależnie od
                      wielkości Unii
        %section.row
          .center
            .columns
              .half
                %img{src: 'img/roznice_liz_nicea.jpg'}
                %p
                  a) Traktat z
                  %span.bold Lizbony
                  vs Traktat z
                  %span.bold Nicei
                %img{src: 'img/roznice_liz_kj.jpg'}
                %p
                  b) Traktat z
                  %span.bold Lizbony
                  vs
                  %span.bold Kompromis Jagielloński
                %p
                  %span.bold Rys. 1.
                  Porównanie siły głosu mierzonej wskaźnikiem Penrose’a–Banzhafa 27 krajów członkowskich Unii
                  Europejskiej uporządkowanych wg ludności - dane z roku 2005
              .half
                %img{src: 'img/square.jpg'}
                %p
                  %span.bold Rys. 2.
                  Według Kompromisu Jagiellońskiego przedstawiciel danego państwa dysponuje podczas głosowania
                  w Radzie Unii Europejskiej liczbą głosów proporcjonalną do długości boku kwadratu,
                  którego pole odpowiada liczbie jego mieszkańców.
              .half
                %div
                  %img{src: 'img/opt_tresh.jpg'}
                %p
                  %span.bold Rys. 3.
                  Zależnosc siły głosu jednego obywatela wybranych państw Unii w funkcji progu większości
                  kwalifikowanej $q$. Jeśli $q$ jest w przybliżeniu równe wartości
                  %a.animate{href: '#compromise2'}"optymalnego progu"
                  $q_*$ to siły głosu obywateli w każdym kraju Unii, mierzone wskaźnikiem Penrose'a-Banzhafa stają
                  się równe.
              .half
                %img{src: 'img/vote_power.png'}
                %p
                  %span.bold Rys. 4.
                  Porównanie siły głosu czterach krajów EU-27 mierzonej wskaźnikiem Penrose'a-Banzhafa: dla systemu
                  nicejksiego (kolor niebieski), dla proponowanego Kompromisu Jagiellońskiego (kolor zielony) oraz dla
                  Traktatu Lizbońskiego (kolor czerwony).
              %br
              .half
                %img{src: 'img/tabela_2pl.jpg'}
                %p
                  %span.bold Tab. 1.
                  Porównanie siły głosu 27 państw członkowskich Unii; w kolumnach: liczba ludności; siła głosu mierzona
                  indeksem
                  %a.animate{href: '#dictionary'} Penrose’a–Banzhafa
                  (w %) wg traktatu z Lizbony; waga i  siła głosu wg Kompromisu
                  Jagiellońskiego z progiem q = 61,6%. Obliczenia z roku 2006.
              -#.half
              -#  %table
              -#    %tr
              -#      %th{rowspan: '2'} Kraj
              -#      %th{colspan: '3'} Waga głosu
              -#    %tr
              -#      %th Traktat z Lizbony
              -#      %th Kompromis Jaegielloński
              -#      %th Traktat z Nicei
              -#    %tr
              -#      %td Niemcy
              -#      %td 82.4
              -#      %td 34
              -#      %td 29
              -#    %tr
              -#      %td Francja
              -#      %td 62.9
              -#      %td 30
              -#      %td 29
              -#  %p
              -#    %span.bold Tab. 2.
              -#    Porównanie wag głosu krajów EU-27: ilość mieszkańców z milionach (system z Lizbony); zaokrąglone wagi
              -#    proporcjonalne do pierwiastka kwadratowego z liczby mieszkańców (Kompromis Jagielloński);
                  wagi (system nicejski)
        %section#compromise2.row.grey
          .center
            .columns
              %article.news.half
                %div
                  %h3
                    %a{href: '#'} Prawo pierwiastkowe Penrose’a
                  .content
                    %p
                      Stwierdza, że gdy zarówno obywatele w każdym państwie, jak i poszczególne państwa głosują
                      niezależnie od siebie, to
                      %a{href: '#dictionary'}siła głosu
                      każdego obywatela w każdym kraju będzie taka sama, gdy siła głosu każdego państwa będzie
                      proporcjonalna do pierwiastka z liczby jego ludności.
              %article.news.half
                %div
                  %h3
                    %a{href: '#'}
                      Optymalny
                      próg
                  .content
                    %p
                      Próg
                      %a{href: '#dictionary'} większości kwalifikowanej,
                      dla którego
                      %a{href: '#dictionary'} siła głosu
                      każdego państwa mierzona
                      %a{href: '#dictionary'} wskaźnikiem Penrose’a-Banzhafa
                      jest z dobrym przybliżeniem równa jego
                      %a{href: '#dictionary'} wadze głosu. Jego istnienie wynika z
                      %span.bold centralnego twierdzenia granicznego.
                      Gdy waga głosu $i$-tego państwa ($i = 1, \ldots, M$) wynosi $w_i$, to
                      optymalny próg wyraża się wzorem:
                      $$q=\frac{1}{2}\left( 1+\sqrt{w_1^2+\ldots+w_M^2} \right)$$
                    %p
                      W przypadku, gdy wagi $w_i$ są proporcjonalne do pierwiastków z liczby ludności $N_i$ wzór na
                      optymalny próg przyjmuje postać:
                      $$q=\frac{1}{2}\left(1+\frac{\sqrt{N_1+\ldots+N_M}}{\sqrt{N_1}+\ldots+\sqrt{N_M}}\right)$$
        %section#systems.row
          .center
            %h1 Systemy głosowania w Radzie Unii Europejskiej
            .columns
              .half
                .subHeading System nicejski
                %h3
                  Powstał w roku 2001. Obwiązywał w latach 2003-2014.
                %p
                  Według traktatu z Nicei, głosy ministrów w Radzie mierzone są wagami, zależnymi w pewien sposób od
                  liczby ludności w danym kraju. Rada UE podejmuje decyzję, jeżeli spełnione sa jednoczesnie
                  %span.bold trzy
                  warunki:
                %ol
                  %li
                    suma wag państw głosujących za ustawą przekroczy 255 (co przy sumie wag 27 państw wynoszącej 345
                    wynosi w przybliżeniu 74%);
                  %li
                    państwa głosujące za ustawą reprezentują co najmniej 62% ludności Unii;
                  %li
                    za decyzją głosuje większość krajów, a więc co najmniej 14 z 27.
                %p
                  Wynik głosowania jest wiążący, jeśli spełnione są wszystkie trzy warunki, ale jak pokazała analiza
                  matematyczna najistotniejszy jest warunek pierwszy, gdyż prawdopodobieństwo utworzenia koalicji, która
                  spełniałaby tylko ten warunek, zaś nie spełniałaby pozostałych warunków jest znikome.
              .half
                .subHeading System z Lizbony
                %h3
                  Powstał w roku 2008. Obwiązuje od 2014 roku
                %p Nazywany też często systemem podwójnej większości.
                %p Do podjęcia decyzji przez Radę UE potrzebne jest spełnienie dwóch warunków:
                %ol
                  %li kraje popierające decyzję muszą skupiać co najmniej 65% ludności Unii;
                  %li za decyzją musi głosować co najmniej 55% państw (przynajmniej 16 z 28).
                %p
                  Dodatkowy warunek stanowi, że mniejszość blokująca musi obejmować co najmniej czterech członków Rady.
                  Każde rozszerzenie Unii zmienia liczbę państw członkowskich oraz rozkład ludności Unii, a wiec
                  bezpośrednio wpływa na powyższe warunki.
        %section#dictionary.row.grey
          .center
            %h1 Słownik
            %strong.subHeading Poniżej przedstawiamy słowniczek ważnych pojęć związanych z kompromisem jagiellońskim
            .columns
              %article.news.half
                %div
                  %h3
                    %a{href: '#'} Waga głosu
                  .content
                    %p Jest to liczba głosów, którymi dysponuje dany uczestnik głosowania.
                    %p
                      Najczęściej wszystkie osoby uprawnione do głosowania podczas posiedzeń różnych ciał kolegialnych
                      posiadają po jednym głosie, czyli waga głosu każdego z nich jest taka sama.
                    %p
                      Problem komplikuje się, gdy uczestnicy głosowania dysponują różną liczbą głosów. Taka sytuacja
                      może mieć miejsce podczas walnego zebrania wspólnoty mieszkaniowej, gdy waga głosu jest
                      proporcjonalna do powierzchni posiadanego lokalu. Innych przykładów dostarczają walne zebrania
                      właścicieli spółek z ograniczoną odpowiedzialnością, na których liczba głosów zależy od liczby
                      posiadanych udziałów, czy też walne zgromadzenia akcjonariuszy spółki akcyjnej, gdy waga głosu
                      jest proporcjonalna do liczby posiadanych akcji.
              %article.news.half
                %div
                  %h3
                    %a{href: '#'} Siła głosu
                  .content
                    %p
                      Jest to wielkość opisująca możliwość wpływu uczestnika głosowania na decyzje podejmowaną w wyniku
                      głosowania.
                    %p
                      Lionel S. Penrose zdefiniował siłę głosu gracza jako prawdopodobieństwo, że w przypadkowo
                      sformowanej koalicji jego głos jest decydujący
                    %p.bold Uwaga: Siła głosu nie musi być proporcjonalna do wagi głosu!
                    %p.bold
                      %span.italic Niewielka
                      zmiana wag głosów może spowodować
                      %span.italic znaczne
                      zmiany rozkładu siły głosów
                    %p
                      Przykładowo, jeżeli w spółce uczestniczy dwóch współwłaścicieli, a umowa spółki stanowi, że
                      uchwały zgromadzenia właścicieli podejmowane są bezwzględną większością głosów, to wspólnik A
                      posiadający 51% udziałów może samodzielnie decydować o podjętych uchwałach, więc jego siła głosu
                      wynosi 100%. Zauważmy, że siła głosu wspólnika B z 49% udziałów wynosi 0%. Jeżeli jednak B
                      odkupił od A jedynie 2% udziałów sytuacja zmieni się diametralnie. Ten prosty przykład pokazuje
                      też, że niewielka zmiana wag głosów może spowodować znaczne zmiany rozkładu siły głosów.
              %br
              %article.news.half
                %div
                  %h3
                    %a{href: '#'} Wskaźnik Penrose’a-Banzhafa
                  .content
                    %p
                      W roku 1946 angielski matematyk Lionel S. Penrose zaproponował, aby zdefiniować wskaźnik siły
                      głosów, obliczając na ile sposobów dany uczestnik głosowania (gracz) może wchodzić z pozostałymi
                      w koalicje, które uzyskają wymaganą większość. Wskaźnik ten wiąże się z prawdopodobieństwem, że
                      w przykładowym głosowaniu głos danego gracza będzie decydujący. Pionierska praca Penrose'a nie
                      została zauważona i doceniona. Dopiero gdy w roku 1965 amerykański prawnik John. F. Banzhaf
                      przeprowadził niezależnie podobną analizę, przedstawiona metoda szacowania siły głosów stała się
                      popularna, a odpowiednio znormalizowane wielkości zaproponowane przez Penrose'a nazwano
                      wskaźnikami Banzhafa. Wskaźnik dla „dyktatora”, który może samodzielnie decydować o wyniku
                      głosowania wynosi 100%, a dla uczestnika głosowania, od głosu którego wynik głosowania nie zależy
                      równa się 0%.
              %article.news.half
                %div
                  %h3
                    %a{href: '#'} Większość kwalifikowana
                  .content
                    %p
                      Niektóre decyzje gremium liczącego $N$ głosujących wymagające znacznego poparcia zostają podjęte,
                      jeżeli liczba głosów za danym wnioskiem jest równa lub większa od liczby $qN$, która nie musi być
                      liczbą całkowitą. Liczba $$1/2 < q < 1$$ nazywany jest
                      %span.bold progiem większości kwalifikowanej.
                      Najczęściej $q = 3/5, 2/3$ lub $3/4$.
                    %p
                      Przykładowo, konklawe kardynałów wybiera papieża większością 2/3 oddanych głosów. Także niektóre
                      decyzje Sejmu wymagają kwalifikowanej większości głosów. Do odrzucenia veta Prezydenta potrzebna
                      jest zgoda co najmniej 3/5, zaś do zmiany Konstytucji 2/3 głosujących posłów. Najtrudniejsze jest
                      samorozwiązanie się Sejmu, bo w tym przypadku zgodę musi wyrazić 2/3 ogółu posłów.
              %br
              %article.news.half
                %div
                  %h3
                    %a{href: '#'} Wskaznik efektywnosci Colemana
                  .content
                    %p
                      Jest to prawdopodobieństwo, że przypadkowo utworzona koalicja
                      (każdy z uczestników gremium głosującego wchodzi do koalicji z prawdopodobieństwem 1/2)
                      spełni wymagania większości kwalifikowanej i stanie się
                      %span.italic koalicją wygrywajacą
                      , a więc będzie w stanie doprowadzić do podjęcia wiążącej decyzji.
              %br
              %article.news.fourForth
                %div
                  %h3
                    Linki zewnętrzne
                  .content
                    %ul
                      %li
                        %a{href: 'http://en.wikipedia.org/wiki/Jagiellonian_Compromise'} Wikipedia angielska
                      %li
                        %a{href: 'http://pl.wikipedia.org/wiki/Kompromis_Jagiello%C5%84ski'} Wikipedia polska
        %section#articles.row
          .center
            %h1 Nasze artykuły
            %strong.subHeading Wojciech Słomczyński, Karol Życzkowski - artykuły
            .columns
              .oneThird
                .subHeading Kompromis Jagielloński
                %ul
                  %li
                    Kazimierz Rzążewski, Wojciech Słomczyński, Karol Życzkowski,
                    Każdy głos sie liczy, Wydawnictwo Sejmowe, Warszawa  2014,
                    %a{href: 'http://kazdyglos.eu/download/komp_jag.pdf'}
                      Rozdzial 10  Głosowanie pośrednie: Rada Unii Europejskiej
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/rzecz04.html'} Czy warto umierać za Niceę – prawda i mity. Wyliczony kompromis.
                    %span.italic Rzeczpospolita
                    %span.bold 25 (6708)
                    (30 stycznia 2004), A4.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/stresz2.pdf'} Analiza mechanizmów decyzyjnych w Radzie Ministrów UE: Traktat Nicejski, propozycja Konwentu oraz projekt kompromisu
                    (styczeń 2004).
                  %li
                    M. Pieńkowski, Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/schumPSZ.pdf'} W poszukiwaniu optymalnego systemu głosowania w Radzie Ministrów Unii Europejskiej.
                    %span.italic Polski Kalendarz Europejski
                    %span.bold 01-02
                    (2004), 20-24.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/SZ4pol.pdf'} Zasady głosowania w Radzie UE: analiza matematyczna.
                    %span.italic Międzynarodowy Przegląd Polityczny
                    %span.bold 7
                    (2004), 18-39.
                  %li
                    Wojciech Słomczyński, T. Zastawniak, Karol Życzkowski,
                    %a{href: 'http://www.wprost.pl/ar/?O=61624'} Kompromis Jagielloński. Nicea albo Kraków.
                    %span.italic Wprost
                    %span.bold 25 (1125)
                    (2004), 28-30.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/DP2.pdf'} Szansa na kompromis. Liczenie głosów w UE.
                    %span.italic Dziennik Polski
                    %span.bold 140
                    (17 czerwca 2004), 8, 14.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/NKK.pdf'} Traktat z Nicei, projekt Konwentu i Konstytucja Europejska. Porównanie mechanizmów decyzyjnych w Radzie Unii Europejskiej.
                    %span.italic Przegląd Środkowoeuropejski
                    %span.bold 38
                    (2004), 14-16.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/SZPAU.pdf'} Czy warto (było) umierać za Niceę? Kompromis widziany oczami matematyka i fizyka.
                    %span.italic Prace Komisji Spraw Europejskich PAU
                    %span.bold 1
                    (2006), 83-93.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf2/MPP07.pdf'} Kompromis Jagielloński - system głosowania dla Rady Unii Europejskiej.
                    %span.italic Międzynarodowy Przegląd Polityczny
                    %span.bold 18
                    (2007), 15-32.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    Pierwiastek dla Europy – zrozumiały i sprawiedliwy.
                    %span.italic Rzeczpospolita
                    %span.bold 143 (7740)
                    (21 czerwca 2007), A9.
                  %li
                    Wojciech Słomczyński, Karol Życzkowski,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/KompJag.pdf'} Kompromis Jagielloński – alternatywny system głosowania dla Rady Unii Europejskiej.
                    (maj 2007) (z K. Życzkowskim) – ekspertyza dla frakcji EPP-ED Parlamentu Europejskiego.
                  %li
                    Wojciech Słomczyński,
                    Siła głosu w Unii Europejskiej – próba podsumowania.
                    %span.italic Międzynarodowy Przegląd Polityczny
                    %span.bold 21
                    (2008), 226-234.
              .oneThird
                .subHeading Inne artykuły na temat teorii głosowania
                %ul
                  %li
                    Wojciech Słomczyński,
                    Dziedzictwo kluczy.
                    %span.italic Dziennik Polski
                    %span.bold 90
                    (2005), 6.
                  %li
                    Wojciech Słomczyński, T Rożek
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/slomcz09.pdf'} Piękno ukryte w świecie reguł matematycznych
                    %span.italic National Geographic
                    (luty 2009)
                  %li
                    Kazimierz Rzążewski, Wojciech Słomczyński, Karol Życzkowski
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf2/RSZ10.pdf'} Euromatematyka: Jak wybieraliśmy posłów do Parlamentu Europejskiego?
                    %span.italic Wiedza i Zycie
                    %span.bold 1
                    (2010), 22-27.
                  %li
                    Kazimierz Rzążewski, Wojciech Słomczyński, Karol Życzkowski
                    %a{href: 'http://kazdyglos.eu'} Każdy głos się liczy! Wędrówka przez krainę wyborów
                    Wydawnictwo Sejmowe, Warszawa 2014
              .oneThird
                .subHeading Listy otwarte
                %ul
                  %li
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/OtwartyList.pdf'}List otwarty do rządów krajów Unii Europejskiej.
                    (czerwiec 2004)
        %section#literature.row.grey
          .center
            %h1 Inna literatura dotycząca kompromisu jagiellońskiego
            .columns
              .half
                .subHeading Literatura
                %ul
                  %li
                    Grzesik, A.,
                    Pierwiastek albo śmierć.
                    %span.italic Magazyn Miłośników Matematyki
                    %span.bold 3 (20),
                    (2007), 31-33.
                  %li
                    Mercik, J.W.
                    %span.italic Siła i oczekiwanie. Decyzje grupowe.
                    PWN, Warszawa, (1999).
                  %li
                    Mober, A.
                    %span.italic
                      %a{href: 'download/weight_of_nations.pdf'}The Weight of Nations. Four papers on the institutional
                      negotiations in the EU 1996-2007
                    Malmoe 2014
                  %li
                    Pukelsheim, F.,  Proportional Representation
                    Apportionment Methods and Their Applications  (Springer, Heidelberg, 2014),
                    %a{href: 'http://kazdyglos.eu/download/Pukelsheim14_JC.pdf'}
                      Chapter 12.10  Jagielonian Compromise
                  %li
                    Trzaskowski, R.,
                    %span.italic Dynamika reformy systemu podejmowania decyzji w Unii Europejskiej.
                    Wydawnictwo Prawo i Praktyka Gospodarcza., Natolin,
                    (2005).
                  %li
                    Straffin, P.D.
                    %span.italic Teoria gier.
                    Wydawnictwo Naukowe SCHOLAR, Warszawa,
                    (2004).
              .half
                .subHeading Komentarze prasowe
                %ul
                  %li
                    Jakub Lubelski
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf2/lubelski.pdf'} O niezbędności matematyki w polityce
                    , Centrum Europejskie Natolin, 2011.
                  %li
                    Andrzej Grajewski
                    %a{href: 'http://wiadomosci.onet.pl/swiat/pierwiastek-rownowagi/3mg2x'} Pierwiastek równowagi.
                    %span.italic Gość Niedzielny
                    (25.06.2007).
                  %li
                    Arkadiusz Orłowski
                    %a{href: 'http://wyborcza.pl/1,82048,4242258.html'} Dlaczego matematycy lubią pierwiastek.
                    %span.italic Gazeta Wyborcza
                    (22.06.2007).
                  %li
                    Ewa Ośniecka-Tamecka
                    %a{href: 'http://wyborcza.pl/1,82048,4242254.html'} Pierwiastek jest (naj)lepszy.
                    %span.italic Gazeta Wyborcza
                    (22.06.2007).
                  %li
                    Wywiad Wojciecha Słomczyńskiego i Karola Życzkowskiego dla radia RMF FM.
                    %a{href: 'http://www.rmf24.pl/tylko-w-rmf24/wywiady/news-system-pierwiastkowy-jest-obiektywny,nId,180575'} System pierwiastkowy jest obiektywny.
                    (21.06.2007).
                  %li
                    Wojciech Słomczyński,
                    %a{href: 'http://dokwadratu.blogspot.com/2007/06/caa-prawda-o-pierwiastku-profesor.html'} Cała prawda o pierwiastku. Blog
                    %span.italic Do kwadratu
                    (18.06.2007).
                  %li
                    Szymon Mazurek,
                    Pierwiastek polski. Blog
                    %span.italic (Nie)główny ekonomista
                    (15.06.2007).
                  %li
                    Tadeusz Sozański,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/tsmpp.pdf'} O pierwiastku i mniejszościach blokujących.
                    (05.2007).
                  %li
                    Tadeusz Sozański,
                    %a{href: 'http://www.cyfronet.krakow.pl/~ussozans/komprops.pdf'} Kompromis czy kompromitacja?
                    %span.italic Dziennik Polski
                    (22.06.2004).
                  %li
                    Mikołaj Jasiński,
                    %a{href: 'http://chaos.if.uj.edu.pl/~karol/pdf/mjasinski04.pdf'} Anatomia porażki, czyli o kompromisie brukselskim.
                    %span.italic Najwyższy Czas
                    (czerwiec 2004).
                  %li
                    Wywiad Wojciecha Słomczyńskiego dla radia BBC Redakcja Polska.
                    Matematyka i głosy.
                    (13 czerwca 2004).
        %section#final.row
          %h1
            %a{href: '#top'} Powrót do początku strony
          .subHeading
            %p Autor strony: Łukasz Pawela
            %p Ostatnia edycja: 9 marca 2014
        -#%section#testiomonialsTab.row
        -#  .center
        -#    %h1 Testimonials
        -#    %strong.subHeading lorem ipsum dolor sit amet, consectetur adipiscing elit
        -#    #testimonials.gallery
        -#      %ul.slides
        -#        %li
        -#          .row
        -#            %blockquote
        -#              %q Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar
        -#            %blockquote
        -#              %q Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar
        -#          .row
        -#            %blockquote
        -#              %q Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar
        -#            %blockquote
        -#              %q Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, mas
